         /* Tab content - closed */

         .tab-content {
             max-height: 0;
             -webkit-transition: max-height .35s;
             -o-transition: max-height .35s;
             transition: max-height .35s;
         }

         .tab input:checked~.tab-content {
             max-height: 100vh;
         }
         .tab label::after {
             float: right;
             right: 0;
             top: 0;
             display: block;
             width: 1.5em;
             height: 1.5em;
             line-height: 1.5;
             font-size: 1.25rem;
             text-align: center;
             -webkit-transition: all .35s;
             -o-transition: all .35s;
             transition: all .35s;
         }

         /* Icon formatting - closed */

         .tab input[type=checkbox]+label::after {
             content: "^";
             font-weight: normal;
             /*.font-bold*/
             /* border-width: 1px; */
             /*.border*/
             /* border-radius: 9999px; */
             /*.rounded-full */
             /* border-color: #b8c2cc; */
             /*.border-grey*/
         }

         /* Icon formatting - open */

         .tab input[type=checkbox]:checked+label::after {
             transform: rotateX(180deg);
             background-color: #ffffff;
             /*.bg-indigo*/
             color: #000000;
             /*.text-grey-lightest*/
         }