.bg-iPhone13pro{
    background-color: #fbfbfd;
}
.bg-gray{
    background-color: #fbfbfd;
    overflow: hidden;
}

.bg-iPhone13{
    background-color: #34283c;
}

.color-iPhone13{
    color: #fec1eb;
}
.fill{
    fill: red;
}

