@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');

* {
  font-family: 'IBM Plex Sans Thai', sans-serif;
}

/* Key Features of Products */
.keyfeatures-container {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 12px;
}
.keyfeature-col {
  height: 450px;
  background-color: rgb(243, 244, 246);
  border-radius: 16px;
  position: relative;
}
.keyfeature-col-span-2 {
  grid-column: span 2 / span 2;
}
.keyfeature-col-span-3 {
  grid-column: span 3 / span 3;
}
.keyfeature-col-span-4 {
  grid-column: span 4 / span 4;
}
@media screen and (max-width: 1024px) {
  .keyfeatures-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .keyfeatures-container::-webkit-scrollbar {
    height: 8px;
  }
  /* Track */
  .keyfeatures-container::-webkit-scrollbar-track {
    background: #e4e4e4;
    border-radius: 10px;
  }
  /* Handle */
  .keyfeatures-container::-webkit-scrollbar-thumb {
    background: #a5a5a5;
    border-radius: 10px;
  }
  /* Handle on hover */
  .keyfeatures-container::-webkit-scrollbar-thumb:hover {
    background: #bdbdbd;
  }
  .keyfeature-col {
    width: 500px;
    position: relative;
    flex: 0 0 auto;
  }
  .keyfeature-col-span-2 {
    width: 341.33px;
  }
  .keyfeature-col-span-3 {
    width: 512px;
  }
  .keyfeature-col-span-4 {
    width: 682.66px;
  }
}
